@import 'normolize'
@import 'fonts'
@import 'elements'

main
    position: relative
    z-index: 1
    min-height: 100vh
    min-height: 100lvh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background-image: url('../img/bg.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    padding: 0 22px 0
    overflow: hidden

.top
    margin: auto 0

h1
    font-size: 0
    margin: 0 0 20px
    img
        width: 100%
        max-width: 525px
        animation: animH1 2s linear infinite alternate-reverse

.sound
    position: absolute
    top: 30px
    right: 30px
    width: 80px
    height: 80px
    background-image: url('../img/sound.svg')
    background-repeat: no-repeat
    background-position: center center
    background-size: 50%
    background-color: rgba(white, .2)
    backdrop-filter: blur(5px)
    border: 1px solid rgba(0, 0, 0, .5)
    border-radius: 60%
    animation: sound 1s ease infinite alternate-reverse
    &::after
        content: ''
        display: block
        width: 60%
        left: 18%
        top: 50%
        height: 2px
        border-radius: 2px
        background-color: rgba(0, 0, 0, 1)
        position: absolute
        transform: translateY(-50%) rotate(45deg)

    &.is_active
        animation: none
        opacity: .8
        &::after
            display: none

    @media screen and ( max-width: 700px )
        top: 30px
        right: 20px
        width: 60px
        height: 60px

.face
    position: absolute
    top: 0
    left: -0px
    width: 200px
    height: 200px
    object-fit: contain
    animation: face 25s linear infinite alternate-reverse
    @media screen and ( max-width: 700px )
        width: 100px
        height: 100px
        animation: face2 20s linear infinite alternate-reverse

.roket
    position: absolute
    bottom: 0
    left: 0
    width: 200px
    aspect-ratio: 1/1
    object-fit: contain
    pointer-events: none
    animation: roket 8s ease infinite
    @media screen and ( max-width: 700px )
        width: 100px
        animation: roket2 8s ease infinite

.wrap
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
    a
        display: inline-block
        padding: 10px
        border-radius: 15px
        img
            display: block
            max-width: 40px

        &:last-child
            img
                max-width: 42px

        &:hover
            background-color: rgba(white, .1)
            transform: scale(1.05)

.footer
    width: 99%
    padding: 20px 0 30px
    border-radius: 90px 90px 0 0
    max-width: 600px
    margin: 0 auto
    background-color: rgba(0, 0, 0, .1)
    backdrop-filter: blur(10px)
    border: 1px solid rgba(0, 0, 0, .5)
    border-bottom: none

    @media screen and ( max-width: 700px )
        border-radius: 40px 40px 0 0

@keyframes sound
    0%
        transform: scale(1.1)
    100%
        transform: scale(.95)

@keyframes animH1
    0%
        transform: translateY(-10%)
    100%
        transform: translateY(10%)

@keyframes roket
    0%
        transform: translate(-100px, 200px)
    50%
        transform: translate(80vw, -100vh)
@keyframes roket2
    0%
        transform: translate(-100px, 200px) rotate(-15deg)
    100%
        transform: translate(80vw, -100vh) rotate(-15deg)

@keyframes face
    0%
        transform: translate(calc( 100vw - 200px ), 1vh)
    20%
        transform: translate(0vw, 20vh)
    40%
        transform: translate(calc( 100vw - 200px ), 50vh)
    60%
        transform: translate(0vw, 60vh)
    80%
        transform: translate(calc( 100vw - 200px ), calc( 100vh - 200px ))

@keyframes face2
    0%
        transform: translate(calc( 100vw - 100px ), 1vh)
    20%
        transform: translate(0vw, 20vh)
    40%
        transform: translate(calc( 100vw - 100px ), 50vh)
    60%
        transform: translate(0vw, 60vh)
    80%
        transform: translate(calc( 100vw - 100px ), calc( 100vh - 100px ))

@media screen and ( max-width: 920px )
    main
        padding: 50px 20px 0

@media screen and ( max-width: 710px )
    .btn
        font-size: 22px
        i
            display: none

        img
            width: 20px
